<!DOCTYPE html>
<html lang="en"><head>
<meta charset="UTF-8">
<title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
    <body>
        <header>
            {% if user.is_authenticated %}
                <p> hola {{user.username}} </p>
                <a href="{% url 'logout' %}"> salir </a>
            {% else %} 
                <p> No se encuentra loggeado/a</p>
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}

            <h1>{% block header %}Welcome to My Website{% endblock %}</h1>
        </header>
        {% include "navbar.html" %}
    <div class="content">
    {% block content %}
    
    {% endblock %}
    </div>
    <footer>
    <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>
