
{% extends "base.html" %}

{% block title %}Inicio - My Website{% endblock %}


{% block header %}
<h1>Bienvenido a la Página de Inicio del blog</h1>
{% endblock %}

{% block content %}

    <h1>Lista de Posteos</h1>
    <ul>
        {% for posteos in posteo %}
            <li>
                <strong>{{ posteo.titulo }}</strong><br>
                {{ posteo.contenido }}<br>
                <small>Publicado por {{ posteo.autor.username }} el {{ posteo.fecha }}</small>
            </li>
        {% empty %}
            <li>No hay posteos disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}

