{% extends 'base.html' %}  <!-- Asegúrate de estar heredando de la plantilla base -->

{% block header %}
<h1>Listado de Posts</h1>
{% endblock %}

{% block content %}
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.titulo }}</h2>
                <p><small>Publicado el {{ post.fecha }}</small></p>
                <a href="{% url 'eliminar_post' post.pk %}">Eliminar</a>
                <a href="{% url 'detalle_post' post.pk %}">Detalle</a>
                <a href="{% url 'editar_post' post.pk %}">Editar</a>
            </li>
        {% empty %}
            <p>No hay posts disponibles.</p>
        {% endfor %}
    </ul>
{% endblock %}